<div class="row">
  <div class="col-sm-12">
    <br>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12">
        <h3 align="center">Login</h3>
      </div>
    </div>

    <div class="container">
      <form
        (ngSubmit)="ingresar(formularioUsuario)"
        #formularioUsuario="ngForm"
      >
        <div class="form-group">
          <label for="exampleInputEmail1">Correo</label>

          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
                 [(ngModel)]="email"
                 name="email"
                 required
                 minlength="3"
                 pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                 #emailCampo="ngModel"
          >

          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="emailCampo.errors !== null && emailCampo.dirty === true">

            <p *ngIf="emailCampo.errors.required"> El correo es requerido</p>
            <p *ngIf="emailCampo.errors.minlength"> No puede tener menos de 3 caracters</p>
            <p *ngIf="emailCampo.errors.pattern"> El correo debe ser valido</p>

          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                 [(ngModel)]="password"
                 name="password"
                 required
          >
        </div>


        <button [disabled]="formularioUsuario.invalid"
                type="submit" class="btn btn-primary">Ingresar</button>
      </form>

    </div>

  </div>

</div>

<app-ruta-usuario></app-ruta-usuario>
