<div class="row" style="align-content: right">
  <div class="col-sm-8"></div>
  <div class="col-sm-4">
    <div class="row home" style="margin: 10px; border-color: blueviolet">
      <div class="col-sm-4" >
        <img [src]="'assets/imagenes/'+usuario.url_foto" class="img-fluid" alt="foto usuario" (click)="visitarPerfil()">
      </div>
      <div class="col-sm-8">
        {{usuario.nombre}} {{usuario.apellido}}
      </div>
    </div>
  </div>

</div>
<p style="color: black" align="center">:(</p>
<br>

<router-outlet></router-outlet>





