<div class="row" style="align-content: right">
  <div class="col-sm-8"></div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-4">
        <img [src]="'assets/imagenes/'+user.url_foto" class="img-fluid" alt="foto usuario">
      </div>
      <div class="col-sm-4">
        {{user.nombre}}
      </div>
      <div class="col-sm-4">
        <p>{{user.apellido}}</p>
      </div>
    </div>
  </div>

</div>
<p style="color: black" align="center">:(</p>
<br>

<router-outlet></router-outlet>





