<div class="row">
  <div class="col-sm-12">
    <h2 class="titulo alinearCentro">Petición de Transferencia</h2>
  </div>
</div>

<br><br>
<div class="row">
  <div class="col-sm-6" >
    <div class="col-sm-12">
      <h3>Usuario</h3>
    </div>
    <div class="row">
      <div class="col-sm-4 " *ngFor="let usuario of usuarioVisitado">
        <app-usuario
          [nombre]="usuario.nombre"
          [apellido]="usuario.apellido"
          [url_foto]="'assets/imagenes/'+usuario.url_foto"
        ></app-usuario>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="col-sm-12">
      <h3>Actor</h3>
    </div>
    <div class="row" *ngIf="peliculasActor!==undefined">
      <div class="col-sm-8" *ngFor="let actor of peliculasActor">
        <app-actor
          [nombres]="actor.nombres"
          [apellidos]="actor.apellidos"
          [fechaNacimiento]="actor.fechaNacimiento"
          [numeroPeliculas]="actor.numeroPeliculas"
          [retirado]="actor.retirado"
          [url_foto]="'assets/imagenes/'+actor.url_foto"
        ></app-actor>
      </div>
    </div>
    <div *ngIf="peliculasActor === undefined">
      <br>
      <h5>No existen actores para este usuario</h5>
    </div>
  </div>

</div>
<br><br><br>

<div class="row">
  <div class="col-sm-12">
    <h3>Peliculas</h3>
  </div>
</div>
<br>
<div *ngIf="peliculasActor!==undefined">
  <div class="row" *ngFor="let actor of peliculasActor">
    <div class="col-sm-3" *ngFor="let pelicula of actor.peliculas">
      <app-pelicula
        [nombre]="pelicula.nombre"
        [anioLanzamiento]="pelicula.anioLanzamiento"
        [rating]="pelicula.rating"
        [actoresPrincipales]="pelicula.actoresPrincipales"
        [sinopsis]="pelicula.sinopsis"
      ></app-pelicula>
      <button type="button" class="btn btn-group-vertical btn-outline-success" (click)="peticionTransferencia(pelicula.id)">Pedir transferencia</button>
      <div class="col-sm-12"><br><br></div>
    </div>
  </div>
</div>

<div *ngIf="peliculasActor === undefined">
  <br>
  <h5>No existen peliculas</h5>
</div>
<br>
<div class="row ">
  <div class="col-sm-12 alinearCentro">
    <button type="button" class="btn btn-secondary " (click)="masPeliculas()">Cargar más</button>
  </div>
</div>
<br><br>



