<div class="row" style="padding: 20px">

  <table class="table table-borderless table-responsive table-hover">
    <tbody>
    <tr>
      <th>Nombre</th>
        <td>{{nombre}}</td>
    </tr>
    <tr>
      <th>Año</th>
      <td>{{anioLanzamiento}}</td>
    </tr>
    <tr>
      <th>Rating</th>
      <td>{{rating}}</td>
    </tr>
    <tr>
      <th>Actores</th>
      <td>{{actoresPrincipales}}</td>
    </tr>
    <tr>
      <th>Sinopsis</th>
      <td>{{sinopsis}}</td>
    </tr>
    </tbody>
  </table>


</div>
