<nav class="navbar navbar-light bg-light">
  <form class="form-inline"
        (ngSubmit)="buscar(formulario)"
        #formulario="ngForm"
  >
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar"
      [(ngModel)]="palabraBuscada"
      name="palabraBuscada"
    >
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
  </form>
</nav>

<br>
<div class="row">
  <div class="col-sm-12">
    <h3>Usuarios</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 alinearCentro" *ngFor="let usuario of usuariosActuales">
    <app-usuario
      [nombre]="usuario.nombre"
      [apellido]="usuario.apellido"
      [url_foto]="'assets/imagenes/'+usuario.url_foto"
    ></app-usuario>
    <button type="button" class="btn btn-outline-info"
            (click)="visitarUsuario(usuario.id)"
            *ngIf="usuario.id != cookieUsuario"
    >Visitar</button>
  </div>
  <div *ngIf="usuariosActuales.length === 0">
    <p>No existen mas usuarios</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-light" (click)="anterioresUsuarios()">Anteriores</button>
  </div>
  <div class="col-sm-6 alinearDerecha" >
    <button type="button"align="right"  class="btn btn-light" (click)="siguientesUsuario()">Siguientes</button>
  </div>

</div>
<br><br><br>

<div class="row">
  <div class="col-sm-12">
    <h3>Actores</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-3" *ngFor="let actor of actoresActuales">
    <app-actor
      [nombres]="actor.nombres"
      [apellidos]="actor.apellidos"
      [fechaNacimiento]="actor.fechaNacimiento"
      [numeroPeliculas]="actor.numeroPeliculas"
      [retirado]="actor.retirado"
      [url_foto]="'assets/imagenes/'+actor.url_foto"
    ></app-actor>
  </div>
  <br>
  <div *ngIf="actoresActuales.length === 0">
    <p>No existen mas actores</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-light" (click)="anterioresActores()">Anteriores</button>
  </div>
  <div class="col-sm-6 alinearDerecha" >
    <button type="button" class="btn btn-light" (click)="siguientesActores()">Siguientes</button>
  </div>
</div>
<br><br><br>

<div class="row">
  <div class="col-sm-12">
    <h3>Peliculas</h3>
  </div>
</div>

<div class="row" *ngIf="peliculasActuales!==undefined">
  <div class="col-sm-3" *ngFor="let pelicula of peliculasActuales">
    <app-pelicula
      [nombre]="pelicula.nombre"
      [anioLanzamiento]="pelicula.anioLanzamiento"
      [rating]="pelicula.rating"
      [actoresPrincipales]="pelicula.actoresPrincipales"
      [sinopsis]="pelicula.sinopsis"
    ></app-pelicula>
    <button type="button" class="btn btn-info" (click)="peticionTransferencia(pelicula.id)">Pedir transferencia</button>
  </div>
  <br>
  <div *ngIf="peliculasActuales.length === 0">
    <br>
    <h5>No existen mas peliculas</h5>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-light" (click)="anterioresPeliculas()">Anteriores</button>
  </div>
  <div class="col-sm-6 alinearDerecha">
    <button type="button" class="btn btn-light" (click)="siguientesPeliculas()">Siguientes</button>
  </div>
</div>

<p style="color: black" align="center">:(</p>
<br><br><br><br>

