.alinearCentro{
  text-align: center;
}

.alinearDerecha{
  text-align: right;
}

.alinearVertical{
  align-content: center  ;
}

/*#img{*/
  /*position: absolute;*/
  /*width: 100px;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*margin: auto;*/
/*}*/
