<div class="row">
  <div class="col-sm-12">
    <h2 class="titulo alinearCentro">Perfil</h2>
  </div>
</div>

<br><br>
<div class="row">
  <div class="col-sm-6" >
    <div class="col-sm-12">
      <h5>Usuario</h5>
    </div>

    <div class="row">
      <div class="col-sm-4 ">
        <app-usuario
          [nombre]="usuario.nombre"
          [apellido]="usuario.apellido"
          [url_foto]="'assets/imagenes/'+usuario.url_foto"
        ></app-usuario>
      </div>
    </div>
  </div>
</div>
<br><br><br>

<div class="row">
  <div class="col-sm-12">
    <h4>Peticiones</h4>
  </div>
</div>

<div *ngFor="let peticion of enviadas">
  <div *ngIf="peticion !== null">
    <app-peticion
      [idPeticion]="peticion.id"
    ></app-peticion>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-sm-12">
    <h4>Solicitudes</h4>
  </div>
</div>

<div *ngFor="let solicitud of recibidas">
  <div *ngIf="solicitud !== null">
    <app-solicitud
      [idSolicitud]="solicitud.id"
    ></app-solicitud>
  </div>
</div>

<br><br><br><br><br>




